@use "../abstracts" as *;

.no-header {
  $root: &;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  z-index: var(--header-z-index);
  overflow: hidden;
  transition: ease all 0.3s;
  border-bottom: 1px solid var(--clr-border-white-week);
  a {
    color: var(--clr-text-title-invert);
  }
  &.normal {
    background: transparent;
    border-bottom: 1px solid var(--clr-border-default);
    a {
      color: var(--clr-text-title);
    }
    .no-header-btn span {
      background: #000;
    }
    .logo-brand {
      opacity: 1;
      visibility: visible;
    }
    .logo-white {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.transparent {
    background: transparent;
    border-bottom: 1px solid var(--clr-border-white-week);
  }
  &.is-scrolled {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .no-header-btn span {
      background: #000;
    }
    a {
      color: #000;
    }
    .logo-brand {
      opacity: 1;
      visibility: visible;
    }
    .logo-white {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.active {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom: none;
    .logo-brand {
      opacity: 1;
      visibility: visible;
    }
    .logo-white {
      opacity: 0;
      visibility: hidden;
    }
    a {
      color: #000;
    }
  }

  &.mb-visible {
    height: 100%;
    background: #fff;
    a {
      color: #000;
    }
    .no-header-btn span {
      background: #000;
    }
    .logo-brand {
      opacity: 1;
      visibility: visible;
    }
    .logo-white {
      opacity: 0;
      visibility: hidden;
    }
    .no-header-menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      padding: 0 2rem;
      width: 100%;
      @include flex-center();
      > ul {
        flex-direction: column;
        justify-content: center;
        max-height: 60rem;
        overflow: auto;
        > li {
          height: auto;
          padding: fluid(18, 24) 0;
          border-bottom: 1px solid var(--clr-border-default);
          > a {
            justify-content: flex-start;
            height: auto;
            padding: 0;
            font-size: fluid(20, 32);
            font-weight: 600;
            margin-bottom: fluid(16, 24);
          }
        }
      }
    }
    .no-header__lnb {
      &--item {
        justify-content: flex-start;
      }
      &--link {
        justify-content: flex-start;
        padding: 0;
        font-size: fluid(15, 18);
      }
    }
    &.no-header-container {
      height: 100%;
    }
  }
  &-container {
    height: var(--header-height);
  }
  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  &-logo {
    height: 100%;
    max-width: fluid(64, 128);
    height: var(--header-height);
    position: relative;
    z-index: 1;
    width: 100%;
    @include flex-center();
    figure {
      position: relative;
      max-width: fluid(64, 128);
      height: var(--header-height);
      width: 100%;
      .logo-brand {
        opacity: 0;
        visibility: hidden;
      }
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    a {
      @include flex-center();
      width: 100%;
      height: 100%;
      svg {
        flex-shrink: 0;
      }
    }
  }
  &-btn {
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
    display: none;
    z-index: 10000;
    &.active {
      span:nth-child(1) {
        transform: rotate(-45deg) translateY(0.65rem);
      }
      span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }
      span:nth-child(3) {
        transform: rotate(45deg) translateY(-0.65rem);
      }
    }
    span {
      height: 2px;
      width: 100%;
      background: var(--clr-text-title-invert);
      transition: ease all 0.3s;
    }
    @include mq(md) {
      @include flex-center();
      flex-direction: column;
      gap: 0.3rem;
    }
  }

  &-menu {
    height: 100%;
    width: fluid(320, 1280);
    transition: ease all 0.3s;
    @include mq(md) {
      display: none;
    }
    > ul {
      height: 100%;
      width: 100%;
      display: flex;
      > li {
        height: 100%;
        width: 100%;
        > a {
          padding: 0 fluid(12, 24);
          height: 100%;
          font-size: fluid(15, 18);
          font-weight: 500;
          transition: ease all 0.3s;
          @include flex-center();
          &:hover {
            color: #fff;
            background: var(--clr-primary-def);
          }
        }
      }
    }
  }
  &__lnb {
    &--item {
      @include flex-center();
    }
    &--link {
      @include flex-center();
      padding: 1rem 1.6rem;
      width: 100%;
    }
  }
}

.no-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.48);
  backdrop-filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
