@use "./functions" as func;

// ============================================

// Fluid Heading

// ============================================

// .f-heading-<key> [min, max, lh, fw, ls]

$fluid-headings: (
  1: (
    min: 40,
    max: 72,
    lh: 1.21,
    fw: 700,
    ls: -1,
  ),

  2: (
    min: 32,
    max: 64,
    lh: 1.21,
    fw: 600,
    ls: -1,
  ),
  3: (
    min: 28,
    max: 48,
    lh: 1.21,
    fw: 600,
    ls: -1,
  ),
  4: (
    min: 24,
    max: 32,
    lh: 1.21,
    fw: 600,
    ls: -1,
  ),
  5: (
    min: 20,
    max: 28,
    lh: 1.41,
    fw: 500,
    ls: -1,
  ),
  6: (
    min: 18,
    max: 24,
    lh: 1.41,
    fw: 600,
    ls: -1,
  ),
);

// .f-body-<key>

$fluid-bodys: (
  1: (
    min: 17,
    max: 20,
    lh: 1.41,
    fw: 500,
    ls: -0.6,
  ),
  2: (
    min: 15,
    max: 18,
    lh: 1.618,
    fw: 400,
    ls: -0.6,
  ),
  3: (
    min: 14,
    max: 16,
    lh: 1.618,
    fw: 400,
    ls: -0.6,
  ),
  4: (
    min: 12,
    max: 14,
    lh: 1.618,
    fw: 400,
    ls: -0.6,
  ),
);

// ============================================

// Static Heading

// ============================================

// .s-heading-<key>

$static-headings: (
  xl: (
    base: 72,

    lg: 48,

    md: 32,

    lh: 1.05,

    fw: 700,

    ls: -1,
  ),
);

// .s-body-<key>

$static-bodys: (
  l: (
    base: 24,

    md: 20,
  ),

  s: (
    base: 12,
  ),
);
